enable_failover: {{ role_nutanix_pe_ahv_vm_ha_failover_enabled }}
{% if role_nutanix_pe_ahv_vm_ha_desired_state == "BestEffort" %}
num_host_failures_to_tolerate: 0
{% else %}
reservation_type: "{{ role_nutanix_pe_ahv_vm_ha_reservation_type }}"
num_host_failures_to_tolerate: "{{ role_nutanix_pe_ahv_vm_ha_host_failures }}"
{% endif %}
